<style>
  .images-style {
    width: 160px;
    height: 210px;
  }

  .panel-style {
    background: #fff;
    padding-top: 1.5em;
    transition: 1s;
    padding-bottom: .75em;
  }

  .panel-style:hover {
    box-shadow: 0 10px 13px -3px rgba(0, 0, 0, .6);
  }

  .panel-body .title {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .panel-body .description {
    text-transform: capitalize;
    max-width: 230px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 15px;
  }

  .price {
    font-weight: bold;
    color: #f57224;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: .75em;
  }

  .btn-style {
    border-radius: 0 !important;
    padding: 6px 25px;
  }

  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>
<div class="row">
  <div class="col-sm-6 col-md-2">
    <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
      {{ successMsg}}
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/order/CSE">Educatinal</a>
      <a href="/order/BBA">Non-Fiction</a>
      <a href="/order/Story">Story</a>
    </div>

    <div id="main">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Category</span>
    </div>
  </div>

  <div class="col-md-10">
    <div class="style" style="background-color : #EFF0F5;">
    {{# each products }}
    <div class="row">
      {{# each this }}
      <div class="col-sm-6 col-md-4">
        <div class="panel text-center panel-style">
          <img src="/uploads/{{this.image}}" class="images-style">
          <div class="panel-body">
            <h4 class="title"><b>{{this.title}}</b></h4>
            <p class="description">
              <!--{{this.description}}-->
              {{!-- product description Lorem ipsum dolor sit amet consectetur adipisicing elit --}}
              <small><b>by:</b></bby:> {{this.titleen}}</small>
            </p>
            <div class="clearfix">
              <div class="price">
                Rs. {{this.price}}
              </div>
              <a href="/add-to-cart/{{this._id}}" class="btn btn-success btn-style" role="button">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
  </div>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}
</script>